@import url("https://fonts.cdnfonts.com/css/norse");

* {
  margin: 0;
  padding: 0;
  font-size: 62.5% em;
}

body{
  display: flex;
  max-height: 100vh;
}

.side-container {
  height: 100vh;
  width: 600px;
  flex: 0 0 500px;
}

.image-container {
  background-image: url(/images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  font-family: "Norse", sans-serif;
  color: white;
  height: 100vh;
}

.heading-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4.3em;
  font-size: 2.5rem;
  background: rgba(0, 0, 0, 0.5);
}

.heading-logo h1 {
  letter-spacing: 4px;
}

img {
  width: auto;
  height: 120px;
}

.main-container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  flex: 1;
}

.para-heading { 
  margin: 50px;
  margin-top: 120px;
  font-family: sans-serif;
  max-width: 750px;
}

.second-para-heading {
  margin-top: 35px;
}

.main-form {
  box-shadow: 0 8px 16px rgb(189, 185, 185);
  font-family: sans-serif;
}


form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

form h2{
  padding: 20px 50px ;
}
.form-field {
  display: flex;
  flex-direction: column;
}
.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-row label {
  margin-right: 20px;
  width: 120px; 
}

